button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, "Open Sans", 方正悠黑, 汉仪旗黑, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #222222;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: bottom;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

p {
  font-size: inherit;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility; }

em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 80%;
  line-height: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, "Open Sans", 方正悠黑, 汉仪旗黑, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.4; }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.25rem; }

h3 {
  font-size: 1.1875rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1.0625rem; }

h6 {
  font-size: 1rem; }

a {
  color: #2ba6cb;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer; }
  a:hover, a:focus {
    color: #258faf; }
  a img {
    border: 0; }

hr {
  max-width: 62.5rem;
  height: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #cacaca;
  border-left: 0;
  margin: 1.25rem auto;
  clear: both; }

ul,
ol,
dl {
  line-height: 1.6;
  margin-bottom: 1rem;
  list-style-position: outside; }

li {
  font-size: inherit; }

ul {
  list-style-type: disc;
  margin-left: 1.25rem; }

ol {
  margin-left: 1.25rem; }

ul ul, ol ul, ul ol, ol ol {
  margin-left: 1.25rem;
  margin-bottom: 0; }

dl {
  margin-bottom: 1rem; }
  dl dt {
    margin-bottom: 0.3rem;
    font-weight: bold; }

blockquote {
  margin: 0 0 1rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #cacaca; }
  blockquote, blockquote p {
    line-height: 1.6;
    color: #8a8a8a; }

cite {
  display: block;
  font-size: 0.8125rem;
  color: #8a8a8a; }
  cite:before {
    content: '\2014 \0020'; }

abbr {
  color: #222222;
  cursor: help;
  border-bottom: 1px dotted #0a0a0a; }

kbd {
  padding: 0.125rem 0.25rem 0;
  margin: 0;
  background-color: #e6e6e6;
  color: #0a0a0a;
  font-family: "Source Code Pro", Consolas, "Liberation Mono", Courier, 方正悠黑, monospace; }

pre {
  margin-bottom: 1rem;
}
code {
  font-family: "Source Code Pro", Consolas, "Liberation Mono", Courier, 方正悠黑, monospace;
  font-weight: normal;
  color: #0a0a0a;
  padding: 0px 5px;
  border-radius: 2px;
  background: rgba(249, 249, 249, 0.7);
}
pre > code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
}

.row {
  max-width: 960px;
  width: 100%;
}
nav {
  width: 100%;
  display: flex;
  /*eg: flex-direction: row | row-reverse | column | column-reverse; */
  /*flex-direction: row;*/
  /*eg: flex-wrap: nowrap | wrap | wrap-reverse; */
  /*flex-wrap: nowrap;*/
  /*eg: flex-flow: <flex-direction> || <flex-wrap>; */
  flex-flow: row nowrap;
  /*eg: justify-content: flex-start | flex-end | center | space-between | space-around; */
  justify-content: flex-end;
  /*eg: align-items: flex-start | flex-end | center | baseline | stretch; */
  align-items: stretch;
  /*eg: align-content: flex-start | flex-end | center | space-between | space-around | stretch; */
  align-content: stretch;
}
.item {
  /*eg: order: <integer>; */
  order: 0;
  /*eg: flex-grow: <number>; */
  /*flex-grow: 0;*/
  /*eg: flex-shrink: <number>; */
  /*flex-shrink: 1;*/
  /*eg: flex-basis: <length> | auto; */
  /*flex-basis: auto;*/
  /*eg: flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
  flex: 1 0 auto;
  /*eg: align-self: auto | flex-start | flex-end | center | baseline | stretch; */
  align-self: auto;
}

button, .button {
  background: 0 0;
  border: none;
  border-radius: 2px;
  /*color: #000;*/
  position: relative;
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow,transform;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}
button:hover, .button:hover, .button.hover {
  background-color: rgba(158,158,158,.2);
}
button:active, .button:active, button.active {
  background-color: rgba(158,158,158,.4);
}

input[type=text], input[type=password], textarea {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(0,0,0,.12);
  outline: none;
  display: block;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  background: 0 0;
  text-align: left;
  color: inherit;
}

/*https://github.com/daneden/animate.css*/
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
